[submodule "MarkovJunior"]
	path = MarkovJunior
	url = https://github.com/mxgmn/MarkovJunior
[submodule "voxviewer/cubiquity"]
	path = voxviewer/cubiquity
	url = https://github.com/expenses/cubiquity
[submodule "voxviewer/Falcor"]
	path = voxviewer/Falcor
	url = https://github.com/NVIDIAGameWorks/Falcor/
[submodule "voxviewer/tony-mc-mapface"]
	path = voxviewer/tony-mc-mapface
	url = https://github.com/h3r2tic/tony-mc-mapface
